.nav{
    margin-top: 200px;
    margin: .5rem 2rem;
    display: flex;
    justify-content: space-between;

}

.nav a{
    text-decoration: none;
color: white;
font-family: 'Ubuntu', sans-serif;
font-size: 2rem;
font-weight: 600;

}

a:hover{
transform: scale(.95);
color:#06d6a0;
}